*, *:before, *:after {
    box-sizing: border-box;
}

p {
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: revert;

    margin: 0;
    padding: 0 35px;

    background-color: grey;

    font-family: 'Figtree', sans-serif;
    color: white;
}

main {
    height: 100vh;
    width: 100%;
}


/* Weather statuses */
.clear {
    background: linear-gradient(90deg, hsla(50, 66%, 55%, 1) 0%, hsla(11, 60%, 52%, 1) 100%);
}

.clouds {
    background: linear-gradient(90deg, hsla(210, 64%, 39%, 1) 0%, hsla(212, 67%, 45%, 1) 100%);
}

.drizzle {
    background: linear-gradient(90deg, hsla(217, 41%, 43%, 1) 0%, hsla(204, 64%, 41%, 1) 100%);
}

.rain {
    background: linear-gradient(90deg, hsl(211, 85%, 24%) 17%, hsl(211, 89%, 17%) 100%);
}

.snow {
    background: linear-gradient(90deg, hsla(210, 58%, 80%, 1) 0%, hsla(212, 64%, 67%, 1) 100%);
}

.thunderstorm {
    background: linear-gradient(90deg, hsla(210, 84%, 18%, 1) 24%, hsla(212, 87%, 21%, 1) 74%);
}


/* Header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}



/* Clock */
.datetime {
    width: 20%;
    padding: 10px;

    text-align: center;
    font-size: 20px;

    border-radius: 10px;

    background: linear-gradient(90deg, rgba(250, 250, 250, .5), rgba(250, 250, 250, .2)) left bottom/100% no-repeat;
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.16);
}


.time {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
}

.time span:not(:last-child) {
    position: relative;
    margin: 0 6px;
    font-weight: bold;
    text-align: center;
}

.time span:last-child {
    font-weight: bold;
    text-transform: uppercase;

}



/* City field */
.city_field {
    width: auto;
    padding-top: 60px;

    position: relative;
    font-size: 40px;
}

.city_field input {
    width: 100%;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 12px;

    border: none;
    border-radius: 5px;
    outline: none;

    font-size: 40px;

    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255)) center bottom/0 2px no-repeat,
    linear-gradient(90deg, rgba(204, 204, 204, .5), rgba(204, 204, 204, .2)) left bottom/100% 2px no-repeat,
    linear-gradient(90deg, rgba(250, 250, 250, .5), rgba(250, 250, 250, .2)) left bottom/100% no-repeat;
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.16);

    transition: background-size .3s ease;
}

.city_field input:valid,
.city_field input:focus {
    background-size: 100% 2px, 100% 2px, 100%;
}

.city_field .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 30px);
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .8);
    opacity: 1;
    transition: top .3s ease,
    font-size .3s ease,
    color .3s ease;

    cursor: text;
}

.city_field input:valid + .placeholder,
.city_field input:focus + .placeholder {
    top: 30px;
    font-size: 35px;
    color: white;
    opacity: 1;
}

#city_name {
    width: auto;
    margin: 0;

    font-size: 50px;
    color: whitesmoke;
    text-transform: uppercase;
}



/* Weather info */
.weather {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

    padding: 15px 0;

    border-radius: 10px;

    font-size: 40px;

    background: linear-gradient(90deg, rgba(250, 250, 250, .5), rgba(250, 250, 250, .2)) left bottom/100% no-repeat;
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.04);
}

.weather_info {
    width: 50%;
}

#weather-icon {
    width: 30%;
    margin-bottom: 20px;
}

#weather_text {
    font-weight: bold;
}

.weather_temperature {
    width: 50%;
}

#temperature {
    font-size: 80px;
    font-weight: bold;
    margin: 20px 0;
}

#humidity, #pressure, #wind {
    font-weight: bold;
}



/* Forecast */
.weekly-forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    padding: 20px 10px;

    border-radius: 10px;

    background: linear-gradient(90deg, rgba(250, 250, 250, .5), rgba(250, 250, 250, .2)) left bottom/100% no-repeat;
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.04);
}

.day {
    width: 12%;
    padding: 40px 0;

    border-radius: 10px;

    font-size: 18px;
    text-align: center;

    background: rgba(250, 250, 250, 0.16);

    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.07);

    transition: transform .2s ease, box-shadow .2s ease;
}

.day:hover {
    cursor: pointer;
    transform: translateY(-5px) scale(103%);
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.16);
}

.day-name {
    font-size: 20px;
    font-weight: bold;
}

.medium-icon {
    margin: 10px 0;
    width: 30%;
}


@media (max-width: 1400px) {
    /* City field */
    .datetime {
        font-size: 15px;
    }

    .time {
        font-size: 30px;
    }

    #city_name {
        font-size: 40px;
    }

    /* Weather */
    #temperature {
        font-size: 70px;
    }

    /* Forecast */
    .day {
        padding: 25px 0;
    }

    .day-name {
        font-size: 18px;
    }
}

@media (max-width: 1230px) {
    /* City field */
    #city_name {
        font-size: 35px;
    }

    .city_field .placeholder .placeholder {
        font-size: 30px;
    }

    .city_field input:valid + .placeholder,
    .city_field input:focus + .placeholder {
        font-size: 25px;
    }

    /* Weather */
    .weather p {
        font-size: 30px;
    }

    #weather_text {
        font-size: 30px;
    }

    #temperature {
        font-size: 60px;
    }

    /* Forecast */
    .day-name {
        font-size: 15px;
    }

    .temperature {
        font-size: 14px;
    }
}

@media (max-width: 1150px) {
    body {
        padding: 0 20px;
    }

    /* Header */
    .datetime {
        margin-top: 10px;
        width: 100%;
    }

    /* City field */
    .city_field {
        width: 60%;
    }

    #city_name {
        font-size: 30px;
    }

    /* Forecast */
    .weekly-forecast {
        min-height: 480px;
    }

    .day {
        width: 24%;
    }
}

@media (max-width: 768px) {
    /* City field */
    #city_input {
        height: 40px;
    }

    .city_field {
        padding-top: 40px;
    }

    .city_field .placeholder {
        top: calc(50% + 20px);
        font-size: 20px;
    }

    #city_input {
        font-size: 35px;
    }

    .city_field input:valid + .placeholder,
    .city_field input:focus + .placeholder {
        top: 25px;
        font-size: 18px;
        color: white;
        opacity: 1;
    }

    #city_name {
        font-size: 25px;
    }

    /* Weather */
    .weather p {
        font-size: 25px;
    }

    #temperature {
        font-size: 45px;
    }

    /* Forecast */
    .weekly-forecast {
        min-height: 440px;
    }
}

@media (max-width: 580px) {
    /* City field */
    #city_name {
        font-size: 20px;
    }

    /* Weather */
    #weather_text {
        font-size: 25px;
    }

    .weather p {
        font-size: 20px;
    }

    #temperature {
        font-size: 40px;
    }

    /* Forecast */
    .weekly-forecast {
        min-height: 920px;
    }

    .day {
        width: 48%;
    }
}

@media (max-width: 490px) {
    /* City field */
    .city_field {
        width: 100%;
        margin-bottom: 10px;
        padding-top: 30px;
    }

    .city_field .placeholder {
        top: calc(50% + 15px);
    }

    .city_field input:valid + .placeholder,
    .city_field input:focus + .placeholder {
        top: 20px;
    }

    #city_name {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 425px) {
    /* Weather */
    .weather_info {
        width: 100%;
        padding-bottom: 10px;

        border-bottom: 1px solid whitesmoke;
    }

    .weather_temperature {
        width: 100%;
        padding-top: 10px;
    }

    .weather p {
        font-size: 16px;
    }

    #weather-icon {
        margin-bottom: 5px;
    }

    #weather_text {
        font-size: 20px;
    }

    #temperature {
        margin: 10px 0;
        font-size: 20px;
    }

    /* Forecast */
    .weekly-forecast {
        min-height: 2200px;
    }

    .day {
        width: 100%;
    }

    .day-name {
        margin-bottom: 5px;
    }
}

@media (max-width: 320px) {
    /* City field */
    .city_field {
        padding-top: 25px;
    }

    .city_field .placeholder {
        top: calc(50% + 12px);
        font-size: 20px;
    }

    .city_field input:valid + .placeholder,
    .city_field input:focus + .placeholder {
        top: 15px;
    }

    /* Forecast */
    .weekly-forecast {
        min-height: 1860px;
    }

}